# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
backend/.venv/

# Variables de entorno
backend/.env

# Logs
backend/logs/
*.log

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.dbcd
# Base de datos local
backend/data/erp.db
